[run]
source = featuretools
omit = */featuretools_plugin/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if self._verbose:
    if verbose:
    if profile:
    pytest.skip
