-r test-requirements.txt
scikit-learn>=0.20.0,!=0.22
codecov==2.1.12
flake8==3.9.2
autopep8==1.5.7
ipython==7.31.1
isort==5.9.3
jupyter==1.0.0
matplotlib==3.3.3
nbconvert==6.2.0
nbsphinx==0.8.7
pydata-sphinx-theme==0.7.1
Sphinx==4.2.0
sphinx-inline-tabs==2021.3.28b7; python_version == '3.7'
sphinx-inline-tabs==2022.1.2b11; python_version >= '3.8'
sphinx-copybutton==0.4.0
myst-parser==0.16.1
nlp_primitives>=2.0.0
autonormalize >= 1.0.2
-r koalas-requirements.txt