numpy>=1.13.3
pandas>=0.23.0
tqdm>=4.19.2
toolz>=0.8.2
pyyaml>=3.12
cloudpickle>=0.4.0
future>=0.16.0
distributed<2.0.0; python_version < '3'
distributed>=1.24.2; python_version >= '3'
dask<2.0.0; python_version < '3'
dask>=1.1.0; python_version >= '3'
psutil>=5.4.8
click>=7.0.0
scikit-learn>=0.20.0,<0.21; python_version < '3'
scikit-learn>=0.20.0; python_version >= '3'
funcsigs>=1.0.2; python_version < '3'
