version: 2.1

executors:
  python:
    parameters:
      image_tag:
        type: string
        default: "3.7"
    docker:
      - image: circleci/python:<< parameters.image_tag >>

commands:
  package_featuretools:
    steps:
      - run: |
          python setup.py sdist
          FT_VERSION=$(python setup.py --version)
          tar -zxvf "dist/featuretools-${FT_VERSION}.tar.gz"
          mv "featuretools-${FT_VERSION}" unpacked_sdist

jobs:
  install_ft:
    working_directory: ~/featuretools
    parameters:
      image_tag:
        type: string
        default: "3.7"
    executor:
      name: python
      image_tag: << parameters.image_tag >>
    steps:
      - checkout
      - attach_workspace:
          at: ~/featuretools
      - package_featuretools
      - run : |
          virtualenv venv
          source venv/bin/activate
          pip install -e unpacked_sdist/
          pip install -r unpacked_sdist/test-requirements.txt
      - persist_to_workspace:
          root: ~/featuretools
          paths:
            - venv
            - unpacked_sdist

  unit_tests:
    working_directory: ~/featuretools
    parameters:
      image_tag:
        type: string
        default: "3.7"
      codecov:
        type: boolean
        default: false
    executor:
      name: python
      image_tag: << parameters.image_tag >>
    steps:
      - run: sudo apt update && sudo apt install -y graphviz
      - checkout
      - attach_workspace:
          at: ~/featuretools
      - when:
          condition: << parameters.codecov >>
          steps:
            - run: |
                source venv/bin/activate
                pip install "$(cat dev-requirements.txt | grep codecov)"
                coverage erase
                cd unpacked_sdist/
                coverage erase
                pytest featuretools/ --cov=featuretools --cov-config=../.coveragerc
                cd ../
                cp unpacked_sdist/.coverage .coverage
                codecov
      - unless:
          condition: << parameters.codecov >>
          steps:
            - run: |
                source venv/bin/activate
                cd unpacked_sdist
                pytest featuretools/

  lint_test:
    working_directory: ~/featuretools
    parameters:
      image_tag:
        type: string
        default: "3.7"
    executor:
      name: python
      image_tag: << parameters.image_tag >>
    steps:
      - checkout
      - attach_workspace:
          at: ~/featuretools
      - run: |
          source venv/bin/activate
          pip install -r unpacked_sdist/dev-requirements.txt
      - run: source venv/bin/activate && make lint

  build_docs:
    working_directory: ~/featuretools
    docker:
      - image: circleci/python:3.7
    steps:
      - run: sudo apt update && sudo apt install -y pandoc
      - checkout
      - attach_workspace:
          at: ~/featuretools
      - run: |
          source venv/bin/activate
          pip install -r unpacked_sdist/dev-requirements.txt
      - run: |
          source venv/bin/activate
          make -C docs/ -e "SPHINXOPTS=-W" clean html

  install_ft_complete:
    working_directory: ~/featuretools
    parameters:
      image_tag:
        type: string
        default: "3.7"
    executor:
      name: python
      image_tag: << parameters.image_tag >>
    steps:
      - checkout
      - package_featuretools
      - run: |
          virtualenv venv
          source venv/bin/activate
          pip install -e unpacked_sdist/[complete]
      - run: |
          source venv/bin/activate
          python -c "import featuretools_tsfresh_primitives"
          python -c "import featuretools_update_checker"

  changelog_updated:
    working_directory: ~/featuretools
    docker:
      - image: busybox:latest
    steps:
      - checkout
      - run: cat docs/source/changelog.rst | grep ":pr:\`${CIRCLE_PULL_REQUEST##https://github.com/Featuretools/featuretools/pull/}\`"

workflows:
  version: 2
  test_all_python_versions:
    jobs:
      - install_ft:
          name: "py27 install featuretools"
          image_tag: "2.7"
      - install_ft:
          name: "py35 install featuretools"
          image_tag: "3.5"
      - install_ft:
          name: "py36 install featuretools"
          image_tag: "3.6"
      - install_ft:
          name: "py37 install featuretools"
      - unit_tests:
          name: "py27 unit tests"
          image_tag: "2.7"
          requires:
            - "py27 install featuretools"
      - unit_tests:
          name: "py35 unit tests"
          image_tag: "3.5"
          requires:
            - "py35 install featuretools"
      - unit_tests:
          name: "py36 unit tests"
          image_tag: "3.6"
          codecov: true
          requires:
            - "py36 install featuretools"
      - unit_tests:
          name: "py37 unit tests"
          requires:
            - "py37 install featuretools"
      - lint_test:
          name: "py27 lint test"
          image_tag: "2.7"
          requires:
            - "py27 install featuretools"
      - lint_test:
          name: "py35 lint test"
          image_tag: "3.5"
          requires:
            - "py35 install featuretools"
      - lint_test:
          name: "py36 lint test"
          image_tag: "3.6"
          requires:
            - "py36 install featuretools"
      - lint_test:
          name: "py37 lint test"
          requires:
            - "py37 install featuretools"
      - build_docs:
          name: "build docs"
          requires:
            - "py37 install featuretools"
      - install_ft_complete:
          name: "py27 install featuretools complete test"
          image_tag: "2.7"
      - install_ft_complete:
          name: "py35 install featuretools complete test"
          image_tag: "3.5"
      - install_ft_complete:
          name: "py36 install featuretools complete test"
          image_tag: "3.6"
      - install_ft_complete:
          name: "py37 install featuretools complete test"
      - changelog_updated:
          name: "changelog updated"
          filters:
            branches:
              ignore: /^master?/
