version: 2
jobs:
  build:
    working_directory: ~/featuretools
    docker:
        - image: themattrix/tox
    steps:
      - checkout
      - run: pyenv local 2.7.13 3.4.5 3.5.2 3.6.0
      - run: make installdeps
      - run: make lint && tox && codecov
