version: 2
jobs:
  "python-2.7":
    working_directory: ~/featuretools
    docker:
        - image: circleci/python:2.7
    steps:
      - run: sudo apt update && sudo apt install -y graphviz
      - checkout
      - run: virtualenv venv
      - run: |
          source venv/bin/activate
          python setup.py sdist
          FEATURETOOLS_VERSION=$(python setup.py --version)
          tar -zxvf "dist/featuretools-${FEATURETOOLS_VERSION}.tar.gz"
      - run: |
          source venv/bin/activate
          FEATURETOOLS_VERSION=$(python setup.py --version)
          pip install -e "featuretools-${FEATURETOOLS_VERSION}/"
          pip install -r "featuretools-${FEATURETOOLS_VERSION}/test-requirements.txt"
          pip install -r dev-requirements.txt
      - run: source venv/bin/activate && make lint
      - run: |
          source venv/bin/activate
          FEATURETOOLS_VERSION=$(python setup.py --version)
          cd "featuretools-${FEATURETOOLS_VERSION}/"
          pytest

  "python-3.5":
    working_directory: ~/featuretools
    docker:
        - image: circleci/python:3.5
    steps:
      - run: sudo apt update && sudo apt install -y graphviz
      - checkout
      - run: virtualenv venv
      - run: source venv/bin/activate && make installdeps
      - run: source venv/bin/activate && make lint
      - run: source venv/bin/activate && make test

  "python-3.6":
    working_directory: ~/featuretools
    docker:
        - image: circleci/python:3.6
    steps:
      - run: sudo apt update && sudo apt install -y graphviz pandoc
      - checkout
      - run: virtualenv venv
      - run: source venv/bin/activate && make installdeps
      - run: source venv/bin/activate && make lint
      - run: source venv/bin/activate && make -C docs/ -e "SPHINXOPTS=-W" clean html
      - run: |
          source venv/bin/activate
          coverage erase
          make testcoverage && codecov

  "python-3.7":
    working_directory: ~/featuretools
    docker:
        - image: circleci/python:3.7
    steps:
      - run: sudo apt update && sudo apt install -y graphviz
      - checkout
      - run: virtualenv venv
      - run: source venv/bin/activate && make installdeps
      - run: source venv/bin/activate && make lint
      - run: source venv/bin/activate && make test

workflows:
  version: 2
  test_all_python_versions:
    jobs:
      - "python-2.7"
      - "python-3.5"
      - "python-3.6"
      - "python-3.7"
