version: 2
jobs:
  "python-2.7":
    working_directory: ~/featuretools
    docker:
        - image: circleci/python:2.7
    steps:
      - checkout
      - run: virtualenv venv
      - run: source venv/bin/activate && make installdeps lint
      - run: pip install --user numpy==1.5.1
      - run: source venv/bin/activate && make test

  "python-3.5":
    working_directory: ~/featuretools
    docker:
        - image: circleci/python:3.5
    steps:
      - checkout
      - run: virtualenv venv
      - run: source venv/bin/activate && make installdeps lint
      - run: source venv/bin/activate && make test

  "python-3.6":
    working_directory: ~/featuretools
    docker:
        - image: circleci/python:3.6
    steps:
      - run: sudo apt update && sudo apt install pandoc -y
      - checkout
      - run: virtualenv venv
      - run: source venv/bin/activate && make installdeps lint
      - run: source venv/bin/activate && make -C docs/ -e "SPHINXOPTS=-W" clean html
      - run: |
          source venv/bin/activate
          coverage erase
          make testcoverage && codecov

  "python-3.7":
    working_directory: ~/featuretools
    docker:
        - image: circleci/python:3.7
    steps:
      - checkout
      - run: virtualenv venv
      - run: source venv/bin/activate && make installdeps lint
      - run: source venv/bin/activate && make test

workflows:
  version: 2
  test_all_python_versions:
    jobs:
      - "python-2.7"
      - "python-3.5"
      - "python-3.6"
      - "python-3.7"
