div.related {
    background-color: #337ab7
}



div.related a {
    color:#fff;
}


div.related ul {
    padding: 10px!important;
    font-size: 18px;
}


div.footer{
    background-color: #337ab7;
    color: #fff;
}


.field > .field-name{
    width: 100px;
}
