boto3==1.34.32
cloudpickle==1.5.0
composeml==0.8.0
graphviz==0.8.4
holidays==0.17
moto[all]==5.0.0
numpy==1.25.0
packaging==20.0
pandas==2.0.0
pip==23.3.0
psutil==5.7.0
pyarrow==14.0.1
pympler==0.8
pytest-cov==3.0.0
pytest-timeout==2.1.0
pytest-xdist==2.5.0
pytest==7.1.2
scipy==1.10.0
smart-open==5.0.0
tqdm==4.66.3
urllib3==1.26.18
woodwork==0.28.0
