boto3==1.34.32
cloudpickle==1.5.0
composeml==0.8.0
graphviz==0.8.4
holidays==0.17
moto[all]==5.0.0
numpy==1.21.0
packaging==20.0
pandas==1.5.0
pip==21.3.1
psutil==5.6.6
pyarrow==14.0.1
pympler==0.8
pytest-cov==3.0.0
pytest-timeout==2.1.0
pytest-xdist==2.5.0
pytest==7.1.2
scipy==1.10.0
smart-open==5.0.0
tqdm==4.32.0
urllib3==1.26.18
woodwork==0.23.0
