click==7.0.0
cloudpickle==1.5.0
dask[dataframe]==2021.11.1
distributed==2021.11.1
holidays==0.13
numpy==1.21.0
packaging==20.0
pandas==1.4.3
psutil==5.6.6
scipy==1.4.0
tqdm==4.32.0
woodwork==0.17.2
woodwork[spark]==0.17.2
