on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - main

name: Install Test
jobs:
  install_ft_complete:
    name: ${{ matrix.os }} - ${{ matrix.python_version }} install featuretools complete
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python_version: ["3.8", "3.9", "3.10"]
        exclude:
          - python_version: "3.10"
            os: macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up python ${{ matrix.python_version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python_version }}
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Build featuretools package
        run: make package_featuretools
      - name: Install complete version of featuretools from sdist
        run: |
          pip config --site set global.progress_bar off
          python -m pip install "unpacked_sdist/[complete]"
      - name: Test by importing packages
        run: |
          python -c "import alteryx_open_src_update_checker"
        env:
          ALTERYX_OPEN_SRC_UPDATE_CHECKER: False
      - name: Check package conflicts
        run: |
          python -m pip check
